.contatos {
    margin: 5rem 0 5rem 1rem;
}

.div-contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn-enviar-email {
    
    margin-top: 1rem;
}

.contact-info1{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
  
  
  .card1{
    padding: 0 20px;
    margin: 0 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  
  .card-icon1, .card-icon2, .card-icon3{
    font-size: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    opacity: .6;
  }

  .card-icon1{
    background: #ff6348;
  }
  
  .card-icon2{
    background: #40C351;
  }

  .card-icon3{
    background:#0078D4;
  }
  
  
  .card1 p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .card1:hover p{
    max-height: 40px;
    opacity: 1;
  }
  
  
  
