.fixar-rodape{



    border-top: 1px solid #abb2bf7a;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
}

.img-rodape {
    width: 24px;
    
}

.div-footer {
    margin-right: 1.5rem;
}

.contatos-footer {
    margin-left: 1.5rem;
}

footer li {
    opacity: .7;
}

.copy-footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

@media (max-width:760px){
.img-rodape{
    margin-top: -1rem;
}
}