.projetos {
    margin: 5rem 0 5rem 1rem;
}


.card-projetos {
    width: 18rem;
}

.card-img-top-projetos {
    width:  17.9rem;
    height: 12rem;
}

.div-projetos {
    margin-bottom: 10rem;
    
}

.projeto-img-linguagem {
    
    width: 30px;
    opacity: .6;
}

.cards-projetos {

    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 15px;
}

.card-body-projetos p {
    opacity: .6;
}

